@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  @apply text-letter bg-body;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  @apply bg-secondary;
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}

body::-webkit-scrollbar-track {
  @apply bg-body;
  border-radius: 6px;
}

#carousel::-webkit-scrollbar, #slide-img::-webkit-scrollbar {
  height: 8px;
}

#carousel::-webkit-scrollbar-thumb, #slide-img::-webkit-scrollbar-thumb {
  opacity: 0;
}

#carousel::-webkit-scrollbar-track, #slide-img::-webkit-scrollbar-track {
  opacity: 0;
}

@media (hover: hover) {
  .bt-amount:hover {
    @apply scale-105 bg-primary text-secondary
  }

  #bt-filters:hover, #card-product:hover {
    @apply scale-105;
  }

  .bt-clean-filters:hover {
    @apply bg-body text-secondary;
  }

  .bt-apply-filters:hover {
    @apply bg-body text-secondary;
  }

  .bt-paginator:hover {
    @apply bg-primary text-secondary;
  }

  #bt-search-prod:hover {
    @apply bg-primary text-secondary;
  }

  #carousel-item:hover {
    @apply bg-gray-400;
  }

  .carousel-bts:hover {
    @apply bg-secondary;
  }
}

.input-error {
  @apply border-red-600 text-red-600;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
